In [1]:
%matplotlib inline

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('../../data/matches.csv', parse_dates=['date'])

In [5]:
data['goals_diff'] = abs(data['home_team_goal'] - data['away_team_goal'])

In [6]:
data.sort_values('goals_diff', ascending=False)[:10]

,country,league,home_team,away_team,date,home_team_goal,away_team_goal,goals_diff
13898,Netherlands,Netherlands Eredivisie,PSV,Feyenoord,2010-10-24,10,0,10
7660,France,France Ligue 1,ES Troyes AC,Paris Saint-Germain,2016-03-13,0,9,9
20161,Scotland,Scotland Premier League,Celtic,Aberdeen,2010-11-06,9,0,9
9761,Germany,Germany 1. Bundesliga,FC Bayern Munich,Hamburger SV,2015-02-14,8,0,8
22984,Spain,Spain LIGA BBVA,FC Barcelona,CA Osasuna,2011-09-17,8,0,8
22310,Spain,Spain LIGA BBVA,UD Almería,FC Barcelona,2010-11-20,0,8,8
2420,England,England Premier League,Chelsea,Wigan Athletic,2010-05-09,8,0,8
24015,Spain,Spain LIGA BBVA,Real Madrid CF,Granada CF,2015-04-05,9,1,8
24247,Spain,Spain LIGA BBVA,Real Madrid CF,Rayo Vallecano,2015-12-20,10,2,8
4375,England,England Premier League,Southampton,Sunderland,2014-10-18,8,0,8